body {
    background-color: burlywood;
}

#title {
    text-align: center;
}

#color-palette {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.color {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
}

#btns {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 380px;
}

#btns input {
    width: 50px;
}

#pixel-board {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.pixel {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: -4px;
    width: 40px;
    height: 40px;
    display: block;
}